@mixin text($family,$style,$weight,$size,$lineHeight,$spacing,$color) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    letter-spacing: $spacing;
    color: $color;
}
@mixin button($widht,$height,$padding,$backColor,$border,$borderRad) {
    width:$widht ;
    height: $height;
    padding: $padding;
    background-color: $backColor;
    border: $border;
    border-radius: $borderRad;   
}

.container{
    width: 1920px;
    margin: auto;
}

header{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 121px;
    & .logo{
        @include text('Cormorant Upright',normal,700,44px,130%,0.04em,#FFFFFF) ;
    }
    & .manuFlex{
        display: flex;
        justify-content: space-around;
        width: 409px;
        & a{
            text-decoration: none;
            @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#FFFFFF) ;
        }
    }
    & .frame65Flex{
        display: flex;
        width: 364px;
        justify-content: space-around;
        & div {
            @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#FFFFFF) ;
        }
        }
    }

.HeroFlex{
   padding-top: 48px;
   display: flex;
   justify-content: center;
   background-color: black;
   align-items: center;
   & .card1{
        width: 453px;
        height: 481px;
        display: flex;
        flex-direction: column;
        & .flacour{
            @include text('Cormorant Upright',normal,700,23px,130%,0.04em,#FFFFFF) ;
        }
        & .keyFine{
            @include text('Cormorant Upright',normal,700,90px,130%,0.04em,#DCCA87) ;
        }
        & p{
            @include text('Cormorant Upright',normal,400,16px,175%,0.04em,#AAAAAA) ;
        }
        & button{
            @include button(157px,44px,4px 8px,#DCCA87,solid 1px #DCCA87,1%) ;
            @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#0C0B08) ;
        }
        & button:hover{
            background-color: #AAAAAA;
        }
   }
   & .card2{
    margin-left: 180px;
    
    & img{

    }
    & .square{

    }
   }
}
.number{
    padding-top: 64px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-bottom: 148px;
    & a{
        @include text('Cormorant Upright',normal,400,16px,175%,0.04em,#AAAAAA) ;
        text-decoration: none;
    }
}

.about{
    background-image: url('./img/BG.jpg');
    position: relative;
    min-height: 959px;
    
    & .G{
        position: absolute;
        top: 25%;
        right: 40%;
        
    }
    & .knife{
        position: absolute;
        top: 10%;
        right: 48%;
    } 
    & .textFlex{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 959px;
        & .card{
            display: flex;
            flex-direction: column;
            height: 292px;
            width: 523px;   
            & .card1{
                @include text('Cormorant Upright',normal,600,64px,130%,0.03em,#DCCA87) ;
                margin-bottom: 8px
            }
            & .card2{
                @include text('Cormorant Upright',normal,400,16px,175%,0.04em,#AAAAAA) ;
                margin-top: 32px;
            }
            & .card3{
                margin-top: 8px;
            }
            }
            & .revres{
                text-align: right;
            }
            & button{
                @include button(157px,44px,4px 8px,#DCCA87,solid 1px #DCCA87,1%) ;
                @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#0C0B08) ;
            }
            & .revresBut{
                margin-left: auto;
            }
        }
    }

.list3{
    padding: 157px 0;
    background-color: black;
}
.container1{
    width: 1364px;
    margin: auto;
    background-color: red;
    // background-image: url('');
     & .reserv{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        min-height: 466px;
        background: #0C0C0C;
        border: 1px solid rgba(220, 202, 135, 0.2);
        box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
        & .card1{
            margin-bottom: 8px;
            margin-top: 48px;
            @include text('Cormorant Upright',normal,700,23px,130%,0.04em,#FFFFFF) ;
        }
        & .card2{
            margin-bottom: 8px ; 
        }
        & .card3{
            margin-bottom: 64px;
            @include text('Cormorant Upright',normal,600,64px,130%,0.03em,#DCCA87) ;
        }
        & .card4{
            margin-bottom: 64px;
            display: flex;
            justify-content: space-around;
            width: 100%;
            & .forma{
                border: 1px solid #F5EFDB;
                box-sizing: border-box;
                background-color:#0C0B08;
                width: 412px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                & input{
                    width: 380px;
                    height: 28px;
                    background-color: #0C0B08;
                    border: solid 1px  #0C0B08;
                }
            }
            @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#0C0B08) ;
        }
        & button{
            @include button(157px,44px,4px 8px,#DCCA87,solid 1px #DCCA87,1%) ;
            @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#0C0B08) ;
        }
    }
}

.menuEat{
    background-image: url('./img/Стакан.png');
    min-height: 900px;
    .menuFlex{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 900px;
        margin-left: 145px;
        & a{
            margin-bottom: 64px;
            text-decoration: none;
            @include text('Cormorant Upright',normal,600,64px,130%,0.03em,#FFFFFF) ;
        }
        & a:hover{
            text-decoration:underline ;
        }
    }
}

.menuBar{
   background-color: black;
    & .BarFlex{
        padding-top: 152px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & .card1{
        @include text('Cormorant Upright',normal,700,23px,130%,0.04em,#FFFFFF) ;
    }
    & .card2{
        margin-top: 8px;
        margin-bottom: 8px
    }
    & .card3{
        @include text('Cormorant Upright',normal,600,64px,130%,0.04em,#DCCA87) ;
    }
    & .BarMenuFlex{
        display: flex;
        justify-content: space-around;
        width: 100%;
        & .Wine{
            @include text('Cormorant Upright',normal,600,45px,130%,0.04em,#FFFFFF) ;
        }
        & .Cocktails{
            @include text('Cormorant Upright',normal,600,45px,130%,0.04em,#FFFFFF) ;
        }
    }
    & button{
        @include button(157px,44px,4px 8px,#DCCA87,solid 1px #DCCA87,1%) ;
        margin-top:65px ;
        margin-bottom: 152px;
        @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#0C0B08) ;
    }
}

.shef{
    min-height: 959px;
    background-image: url('./img/BG.jpg');
    & .shefFlex{
        padding: 0 310px ;
        min-height: 959px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .imgShef{

        }
        & .promoShefFlex{
            max-width: 570px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & .card1{
                @include text('Cormorant Upright',normal,700,23px,130%,0.04em,#FFFFFF) ;
                margin-bottom: 8px
            }
            & .card2{
                margin-bottom: 8px
            }
            & .card3{
                @include text('Cormorant Upright',normal,600,64px,130%,0.03em,#DCCA87) ;
                margin-bottom: 76px
            }
            & .card4{
                @include text('Cormorant Upright',normal,400,16px,175%,0.04em,#AAAAAA) ;
                margin-bottom: 64px
            }
            & .card5{
                @include text('Cormorant Upright',normal,400,32px,130%,0.04em,#DCCA87) ;
                margin-bottom: 8px
            }
            & .card6{
                @include text('Cormorant Upright',normal,400,16px,172%,0.04em,#AAAAAA) ;
                margin-bottom: 64px
            }
            
        }
    }
}

.clients{
    min-height: 686px;
    background-color: black;
    & .clientsGrid{
        padding: 152px 310px;
        min-height: 686px;
        display: grid;
        grid-template-rows: repeat(3,33.3%);
        grid-template-columns: repeat(2,50%);
        gap:0 16px;
        & .clientsFlex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-column: 1/3;
            & .text1{
                @include text('Cormorant Upright',normal,700,23px,130%,0.04em,#FFFFFF) ;
                margin-bottom: 8px
            }
            & .text2{
                margin-bottom: 8px
            }
            & .text3{
                @include text('Cormorant Upright',normal,600,64px,130%,0.03em,#DCCA87) ;
            }
        }
        & .photo{
            display: flex;
            align-items: center;
            & .cardsFlex{
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                & .text1{
                    @include text('Cormorant Upright',normal,400,16px,175%,0.04em,#AAAAAA) ;
                }
                & .text2{
                    @include text('Cormorant Upright',normal,400,32px,130%,0.04em,#DCCA87) ;
                }
                & .text3{
                    @include text('Cormorant Upright',normal,400,16px,175%,0.04em,#F5EFDB) ;
                }
            }
        }
    }

}