@charset "UTF-8";
.container {
  width: 1920px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 121px;
}
header .logo {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
header .manuFlex {
  display: flex;
  justify-content: space-around;
  width: 409px;
}
header .manuFlex a {
  text-decoration: none;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
header .frame65Flex {
  display: flex;
  width: 364px;
  justify-content: space-around;
}
header .frame65Flex div {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.HeroFlex {
  padding-top: 48px;
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
}
.HeroFlex .card1 {
  width: 453px;
  height: 481px;
  display: flex;
  flex-direction: column;
}
.HeroFlex .card1 .flacour {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.HeroFlex .card1 .keyFine {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #DCCA87;
}
.HeroFlex .card1 p {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.HeroFlex .card1 button {
  width: 157px;
  height: 44px;
  padding: 4px 8px;
  background-color: #DCCA87;
  border: solid 1px #DCCA87;
  border-radius: 1%;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #0C0B08;
}
.HeroFlex .card1 button:hover {
  background-color: #AAAAAA;
}
.HeroFlex .card2 {
  margin-left: 180px;
}
.number {
  padding-top: 64px;
  background-color: black;
  display: flex;
  justify-content: center;
  padding-bottom: 148px;
}
.number a {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  text-decoration: none;
}

.about {
  background-image: url("./img/BG.jpg");
  position: relative;
  min-height: 959px;
}
.about .G {
  position: absolute;
  top: 25%;
  right: 40%;
}
.about .knife {
  position: absolute;
  top: 10%;
  right: 48%;
}
.about .textFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 959px;
}
.about .textFlex .card {
  display: flex;
  flex-direction: column;
  height: 292px;
  width: 523px;
}
.about .textFlex .card .card1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
  margin-bottom: 8px;
}
.about .textFlex .card .card2 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin-top: 32px;
}
.about .textFlex .card .card3 {
  margin-top: 8px;
}
.about .textFlex .revres {
  text-align: right;
}
.about .textFlex button {
  width: 157px;
  height: 44px;
  padding: 4px 8px;
  background-color: #DCCA87;
  border: solid 1px #DCCA87;
  border-radius: 1%;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #0C0B08;
}
.about .textFlex .revresBut {
  margin-left: auto;
}

.list3 {
  padding: 157px 0;
  background-color: black;
}

.container1 {
  width: 1364px;
  margin: auto;
  background-color: red;
}
.container1 .reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 466px;
  background: #0C0C0C;
  border: 1px solid rgba(220, 202, 135, 0.2);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}
.container1 .reserv .card1 {
  margin-bottom: 8px;
  margin-top: 48px;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.container1 .reserv .card2 {
  margin-bottom: 8px;
}
.container1 .reserv .card3 {
  margin-bottom: 64px;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
}
.container1 .reserv .card4 {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #0C0B08;
}
.container1 .reserv .card4 .forma {
  border: 1px solid #F5EFDB;
  box-sizing: border-box;
  background-color: #0C0B08;
  width: 412px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1 .reserv .card4 .forma input {
  width: 380px;
  height: 28px;
  background-color: #0C0B08;
  border: solid 1px #0C0B08;
}
.container1 .reserv button {
  width: 157px;
  height: 44px;
  padding: 4px 8px;
  background-color: #DCCA87;
  border: solid 1px #DCCA87;
  border-radius: 1%;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #0C0B08;
}

.menuEat {
  background-image: url("./img/Стакан.png");
  min-height: 900px;
}
.menuEat .menuFlex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 900px;
  margin-left: 145px;
}
.menuEat .menuFlex a {
  margin-bottom: 64px;
  text-decoration: none;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.menuEat .menuFlex a:hover {
  text-decoration: underline;
}

.menuBar {
  background-color: black;
  height: 1274px;
}
.menuBar .BarFlex {
  padding-top: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuBar .card1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.menuBar .card2 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.menuBar .card3 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #DCCA87;
  margin-bottom: 64px;
}
.menuBar .BarMenuFlex {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menuBar .BarMenuFlex .WineFlex {
  height: 100%;
  width: 412px;
}
.menuBar .BarMenuFlex .WineFlex .Wine {
  text-align: center;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.menuBar .BarMenuFlex .WineFlex .WineGrid {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 192px 119px 32px;
  height: 100%;
}
.menuBar .BarMenuFlex .WineFlex .WineGrid .text1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #DCCA87;
}
.menuBar .BarMenuFlex .WineFlex .WineGrid .text2 {
  text-align: center;
  color: #FAFAFA;
}
.menuBar .BarMenuFlex .WineFlex .WineGrid .text3 {
  text-align: center;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.menuBar .BarMenuFlex .WineFlex .WineGrid .text4 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin-bottom: 42px;
}
.menuBar .BarMenuFlex .CocktailsGrid {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
.menuBar button {
  width: 157px;
  height: 44px;
  padding: 4px 8px;
  background-color: #DCCA87;
  border: solid 1px #DCCA87;
  border-radius: 1%;
  margin-top: 65px;
  margin-bottom: 152px;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #0C0B08;
}

.shef {
  min-height: 959px;
  background-image: url("./img/BG.jpg");
}
.shef .shefFlex {
  padding: 0 310px;
  min-height: 959px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shef .shefFlex .promoShefFlex {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.shef .shefFlex .promoShefFlex .card1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.shef .shefFlex .promoShefFlex .card2 {
  margin-bottom: 8px;
}
.shef .shefFlex .promoShefFlex .card3 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
  margin-bottom: 76px;
}
.shef .shefFlex .promoShefFlex .card4 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin-bottom: 64px;
}
.shef .shefFlex .promoShefFlex .card5 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #DCCA87;
  margin-bottom: 8px;
}
.shef .shefFlex .promoShefFlex .card6 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 172%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
  margin-bottom: 64px;
}

.clients {
  min-height: 686px;
  background-color: black;
}
.clients .clientsGrid {
  padding: 152px 310px;
  min-height: 686px;
  display: grid;
  grid-template-rows: repeat(3, 33.3%);
  grid-template-columns: repeat(2, 50%);
  gap: 0 16px;
}
.clients .clientsGrid .clientsFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
}
.clients .clientsGrid .clientsFlex .text1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.clients .clientsGrid .clientsFlex .text2 {
  margin-bottom: 8px;
}
.clients .clientsGrid .clientsFlex .text3 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
}
.clients .clientsGrid .photo {
  display: flex;
  align-items: center;
}
.clients .clientsGrid .photo .cardsFlex {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.clients .clientsGrid .photo .cardsFlex .text1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.clients .clientsGrid .photo .cardsFlex .text2 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #DCCA87;
}
.clients .clientsGrid .photo .cardsFlex .text3 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #F5EFDB;
}

.video {
  background-color: #0C0B08;
}

.laurels {
  min-height: 691px;
  background-image: url("./img/BG.jpg");
}
.laurels .laurelsFlex {
  min-height: 691px;
  padding: 128px 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 183px;
}
.laurels .laurelsFlex .laurelsGrid {
  width: 100%;
  height: 454px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 33.3%);
}
.laurels .laurelsFlex .laurelsGrid .textFlex {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
}
.laurels .laurelsFlex .laurelsGrid .textFlex .text1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.laurels .laurelsFlex .laurelsGrid .textFlex .text2 {
  margin-bottom: 8px;
}
.laurels .laurelsFlex .laurelsGrid .textFlex .text3 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
}
.laurels .laurelsFlex .laurelsGrid .cardGrid {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 79px 191px;
  grid-template-rows: 50% 50%;
  gap: 0 32px;
}
.laurels .laurelsFlex .laurelsGrid .cardGrid .text1 {
  grid-row: 1/3;
}
.laurels .laurelsFlex .laurelsGrid .cardGrid .text2 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
}
.laurels .laurelsFlex .laurelsGrid .cardGrid .text3 {
  grid-row: 2/3;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.laurels .laurelsFlex .laurelsImg {
  position: relative;
}
.laurels .laurelsFlex .laurelsImg .G2 {
  position: absolute;
  top: 312px;
  right: 195px;
}

.blogs {
  background-color: black;
  min-height: 1032px;
}
.blogs .blogsGrid {
  display: grid;
  min-height: 1032px;
  padding: 152px 310px;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 202px 838px 44px;
  gap: 0 13px;
}
.blogs .blogsGrid .texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/4;
}
.blogs .blogsGrid .texts .text1 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.blogs .blogsGrid .texts .text2 {
  margin-bottom: 8px;
}
.blogs .blogsGrid .texts .text3 {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #DCCA87;
}
.blogs .blogsGrid .card {
  display: flex;
  flex-direction: column;
}
.blogs .blogsGrid .card .cardData {
  margin-top: 24px;
  margin-bottom: 32px;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #FAFAFA;
}
.blogs .blogsGrid .card .cardDescription {
  margin-bottom: 32px;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: #DCCA87;
}
.blogs .blogsGrid .card .cardTextDescr {
  margin-bottom: 32px;
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #AAAAAA;
}
.blogs .blogsGrid .card .readmore {
  font-family: "Cormorant Upright";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #DCCA87;
}
.blogs .blogsGrid .butt {
  text-align: center;
  grid-area: 3/2;
  justify-items: center;
}
.blogs .blogsGrid .butt button {
  width: 157px;
  height: 44px;
  padding: 4px 8px;
  background-color: #DCCA87;
  border: solid 1px #DCCA87;
  border-radius: 1%;
}/*# sourceMappingURL=main.css.map */